.header2{
    background-color: green;
    height: 180px;
    /* position: fixed; */
    top: 90px;
    left: 0;
    right: 0;
    background: url("../Home-images/laptop4.jpg");
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    backdrop-filter: blur(100px);
    z-index: 5;
}

.header2 h1{
    color: white;
    font-size: 40px;
}

.header2 ul{
    list-style-type: none;
    overflow: hidden;
}

.header2 ul li{
    float: left;
}

.header2 ul li a{
    text-decoration: none;
    color: white;
    margin-right: 20px;
    font-size: 20px;
}

.header2 ul li a i{
    margin-right: 8px;
}

.home i{
    color: orangered;
}

.about{
    cursor: default;
}

.about i{
    padding-right: 15px;
}

.home:hover{
    color: orangered;
}