body{
    margin: 0;
    padding-top: 85px;
    padding-left: 180px;
    padding-right: 25px;
    background-color: rgb(250, 249, 249);
    font-family: Poppins, Roboto, Arial, sans-serif;
    height: 2000px;
}

p{
    margin: 0;
    font-family: Poppins, Roboto, Arial, sans-serif;
}

/* Headers-2 */
header{
    height: 55px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-bottom: 1px solid rgb(175, 175, 175);
    z-index: 1;
}
/* Headers-2 */

/* Sidebars-3 */
nav{
    position: fixed;
    margin-top: 55px;
    width: 150px;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: white;
    z-index: 2;
}
/* Sidebars-3 */

/* Videos-4 */
main{
    margin: 0;
}

section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 35px;
}
/* Videos-4 */

@media (max-width: 550px){
    body{
        padding-left: 25px;
    }
    nav{
        opacity: 0;
    }
    section{
        grid-template-columns: 1fr;
    }
}

@media (min-width: 550.1px) and (max-width: 1050px){
    body{
        padding-left: 130px;
    }
    nav{
        width: 100px;
    }
    section{
        grid-template-columns: 1fr 1fr;
    }
}