.sidebars{
    height: 70px;
    flex-direction: row;
    justify-content: left;
    padding-left: 15px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.15s;
}

.sidebars:hover{
    background-color: rgb(236, 234, 234);
}

.sidebars img{
    height: 22px;
}

.sidebars-name{
    font-family: Poppins, Roboto, Arial, sans-serif;
    font-size: 12px;
    margin-left: 5px;
}

@media (max-width: 550px){
    .sidebars{

    }
}

@media (min-width: 550.1px) and (max-width: 1050px){
    .sidebars{
        flex-direction: column;
        justify-content: center;
        padding-left: 0;
    }

    .sidebars-name{
        font-family: Poppins, Roboto, Arial, sans-serif;
        font-size: 12px;
        margin-left: 5px;
    }
}